body{
    margin: 0px;
    width: 100%;
    background-color: #F5F1E6;
}

/* HEADINGS */
header{
    height: 70px;
    /* background-color: aquamarine; */
    margin: 5px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.profile{
    width: 100px;
    height: 50px;
    float: right;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e2d1b3;
    font-size: medium;
    cursor: pointer;
}

.theme, .language{
    width: 120px;
    height: 50px;
    float: right;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e2d1b3;
    /* font-size: medium; */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categories{
    height: 50px;
    margin: 5px;
    /* background-color: #44464D; */
    border-bottom: solid 2px black;
}

.category{
    width: 110px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    border: none;
    border-radius: 0px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    font-size: medium;
    font-weight: 550;
    color: black;
    float: left;
}

.category:hover{
    background-color: lightgray;
    border-left: solid 4px black;
    border-right: solid 4px black;
    cursor: pointer;
}

.categories .search_bar{
    width: 250px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    border: none;
    background: none;
    border-radius: 0px;
    border-bottom: solid 2px black;
    padding-left: 5px;
    float: right;
}


/* HOME PAGE */
/* Main Content */

.head_content{
    width: 85%;
    height: 300px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-bottom: solid 2px black;
    /* background-color: orange; */
}

.head_content .head_btn{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 2px black;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: none;
    color: black;
}

.head_content .head_btn:hover{ 
    background-color: lightgray;
    cursor: pointer;
}

.main_content{
    width: 85%;
    height: fit-content;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    /* border-top: solid 2px black; */
    border-bottom: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* gap: 10px; */
    /* background-color: green; */

}

.main_content section{
    /* background-color: aqua; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.main_content section button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 2px black;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
    cursor: pointer;
    background: none;
    color: black;
    font-size: small;
}

.main_content section button:hover {
    background-color: lightgray;
}







/* LOGIN REGISTER */
.register_form{
    width: 400px;
    height: 600px;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2px;
    display: block;
}

.register_form h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
    margin-top: 50px;
}

.register_form input{
    width: 250px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    background: none;
    border: solid black 1px;
    border-radius: 5px;
}

.register_form button{
    width: 200px;
    height: 35px;
    margin-top: 15px;
    background: none;
    border: solid black 1px;
    border-radius: 5px;
}

.register_form button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.register_form form{
    margin-top: 30px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.register_form a{
    /* text-decoration: none; */
    color: black;
    padding: 10px;
    font-size: 15px;
}

/* USER DASHBOARD */

.user_dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 85%;
    height: fit-content;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: none;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    /* background-color: aqua; */
}

.user_info, .user_history{
    width: 90%;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border-right: solid 2px black; */
    /* background-color: #e2d1b3; */
}

.user_info .uesr_information{
    width: 95%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.uesr_information img{
    width: auto;
    height: 200px;
    margin: 20px;
    display: block;
}

.user_logout_btn{
    width: 100px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: none;
    background: none;
    cursor: pointer;
}

.user_logout_btn:hover{
    background-color: gray;
}


/* QUIZZ PAGE */


.quiz_container{
    /* width: auto; */
    height: fit-content;
    margin: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* border-top: solid 2px black; */
    /* border-bottom: solid 2px black; */
    /* background-color: #D9D5C3; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.quiz_section{
    /* background-color: gray; */
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.quiz_menu button{
    width: 200px;
    height: 45px;
    margin-left: 15px;
    margin-top: 10px;
    border: none;
    border-bottom: solid 2px black;
    background: none;
    /* background-color: aqua; */
    color: black;
    display: block;
    text-align: left;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.quiz_menu button:hover{
    background-color: lightgray;
    color: black;
    border-left: solid 4px black;
    border-bottom: none;
}

.quiz_menu hr{
    margin: 15px;
}


.history_records {
    width: 90%;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border-top: solid 2px black; */
    /* border-bottom: solid 2px black; */
    /* background-color: blanchedalmond; */
}

.history_records button {
    width: 95%;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    cursor: pointer;
    background: none;
    font-size: medium;
}

.display_records{
    width: 95%;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-bottom: solid 2px black;
    background-color: aquamarine;
}

.display_records table {
    width: 100%;
    height: 100%;
    /* border-collapse: ; */
    text-align: left;
}

.history_records button:hover {
    background-color: lightgray;
    border: none;
    border-left: solid 4px black;
    border-right: solid 4px black;
}


.quiz_header{
    width: 70%;
    height: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: solid 2px black;
    /* background-color: azure; */
    text-align: center;
    padding: 10px;
}

.quiz_problem{
    width: 70%;
    height: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-top: solid 2px black;
    /* background-color: aquamarine; */
}

.quiz_problem h3{
    margin-left: 20px;
    /* border-bottom: solid 2px black; */
}

.quiz_problem hr{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    border-width: 0px;
    background-color: black;
    height: 2px;
}

.quiz_problem input[type="radio"]{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #2F3136;
}

.quiz_problem input[type="submit"]{
    width: 120px;
    height: 45px;
    /* background-color: #e2d1b3; */
    background: none;
    /* color: lightgray; */
    border: none;
    border-bottom: solid 2px black;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
}

.quiz_problem input[type="submit"]:hover{
    cursor: pointer;
    background-color: lightgray;
    color: black;
}



/* Browsing Blogs */

.blog_container {
    width: 100%;
    height: fit-content;
    margin: 0px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.blog_container .blog_menu {
    width: 100%;
    height: fit-content;
    margin: 0px;
    margin-top: 5px;
    /* background-color: green; */
}

.blog_container .blog_list{
    width: 100%;
    height: fit-content;
    margin: 0px;
    margin-top: 5px;
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    justify-content: left;
}

.blog_category button {
    width: 100%;
    height: 45px;
    border: none;
    margin-top: 5px;
    border-bottom: solid 2px black;
    background: none;
    cursor: pointer;
    font-size: medium;
}

.blog_category button:hover {
    background-color: lightgray;
}

.blog_container .blog_list .blog_item{
    width: 350px;
    height: 300px;
    margin: 10px;
    /* background-color: gray; */
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-top: none;
    background: none;

}

.blog_container .blog_list .blog_item img {
    width: 100%;
    height: 200px;
    /* margin-top: 5px; */
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 5px; */
}

.blog_container .blog_list .blog_item button {
    width: 120px;
    height: 40px;
    border: none;
    /* margin-top: 5px; */
    margin-left: 10px;
    margin-bottom: 5px;
    border-bottom: solid 2px black;
    background: none;
    text-align: center;
    font-size: medium;
    /* font-weight: bold; */
    cursor: pointer;
}

.blog_container .blog_list .blog_item p {
   margin-left: 10px;
   font-size: medium;
   font-weight: bold;
}